<div class="Displaywrapper">
  <div class="Displaycontainer">
    <ul>
      <% if @room.room_image.attached? %>
        <li><%= image_tag @room.room_image %></li>
      <% else %>
        <li><img src="/assets/default.room.png" alt="施設デフォルト画像" class="" width="40px" height="40px"></li>
      <% end %>
      <li><%= @room.room_name %></li>
      <li><%= @room.room_introduction %></li>
      <li><%= @room.price %></li>
      <% if current_user.id == @room.user_id %>
        <%= link_to "施設情報の編集", [:edit, @room] %>
      <% end %>
    </ul>
  </div>
  <%= link_to "前の画面に戻る", :back, class: "Width-100 btn btn-secondary Btn-actions" %>
</div>

<%= form_with model: @reservations, url: :confirm, local: true do |f| %>
  <ul>
    <li><%= f.label :check_in %></li>
    <li><%= f.date_field :check_in %></li>
  </ul>

  <ul>
    <li><%= f.label :check_out %></li>
    <li><%= f.date_field :check_out %></li>
  </ul>

  <ul>
    <li><%= f.label :number_of_people %>
    <li><%= f.text_field :number_of_people %>
  </ul>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :room_id, value: @room.id %>

  <%= f.submit "予約する" %>
<% end %>
